#reviews{
    padding: 0 16px;
    margin-top: -260px;

    .reviews-divider{
        height: 2px;
        background-color: var(--Ice);
        width: 80%;   
        margin: 0 auto 64px;
    }

    h1{
        color: var(--White);
    }

    h1:first-of-type{
        display: none;
    }
    
    @include md{
        padding: 0 32px;

        h1:first-of-type{
            display: block;
        }

        h1:last-of-type{
            display: none;
        }
    }

    @include lg{
        padding: 0 155px;
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .highlight-container{
        width: 100%;
    

        @include md{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 32px;
        }

        @include lg{
            grid-template-columns: 1fr 1fr 1fr;
        }

        .review-highlight{
            display: none;
            background-color: var(--Tan);
            padding: 48px;
            width: 100%;
            box-sizing: border-box;


            .large-copy{
                height: 280px;
                margin-bottom: 24px;
                overflow: hidden;
                position: relative;

                .gradient{
                    background: rgb(241,233,217);
                    background: linear-gradient(180deg, rgba(241,233,217,0) 20%, rgba(241,233,217,1) 97%);
                    
                    position: absolute;
                    bottom: 0;
                    top: 0;
                    left: 0;
                    right: 0;
                    z-index: 1;
                }

                // --webkit-mask-image: linear-gradient (O#000, Orgba(0,0,0,0.2));
                // mask-image: linear-gradient (O#000, Orgba(0,0,0,0.2)) ;
            }

            .highlight-content{
                display: flex;
                width: 100%;

                
                .profile{
                    
                    img{
                        border: 8px solid var(--Tan);
                        border-radius: 100%;
                        margin: -8px;
                        margin-bottom: 16px;
                        height: 70px;
                        width: 70px;
                    }

                    img:last-of-type{
                        margin-left: -32px;
                        position: absolute;
                    }


                    p{
                        margin: 0;
                        padding: 0;
                    }

                    .review-stars{
                        margin-top: 8px;
                    }

                }

                button{
                    margin: 0 0 auto auto;
                }
            }
        }

        .review-highlight:first-of-type{
            display: block;
            
        }

        @include md{
            .review-highlight{
                display: block;
            }
            .review-highlight:last-of-type{
                display: none;
            }
        }

        @include lg{
            .review-highlight:last-of-type{
                display: block;
            }
        }

    }

    .standard-reviews-container{
        margin-top: 64px;
        h2{
            margin: 0;
        }

        button{
            margin: 8px 0;
        }

        .standard-review{
            border-bottom: 1px solid var(--Grey);
            border-top: 1px solid var(--Grey);

            display: flex;
            padding: 32px 16px;
            flex-direction: column;
            
            @include md{
                flex-direction: row;
            }


            .profile-info{
                margin-right: 72px;
                width: 110px;
                min-width: 110px;

                margin-bottom: 32px;

                @include md{
                    margin-bottom: 0;
                }

                img{
                    border-radius: 100%;
                    width: 50%;
                    margin-bottom: 8px;
                }

                p{
                    margin: 8px 0 0 0;
                }
            
            }

            .review-copy{
                display: flex;
                flex-direction: column;
                p{
                    max-height: 220px;
                    overflow: hidden;

                    @include lg{
                        max-height: none;
                    }
                }

                button{
                    color: var(--Grey);
                    margin-left: auto;

                    @include lg{
                        display: none;
                    }
                }
            }
        }
    }

    

}