
/* =============
    Thank you
============= */

#thankyou{
    // padding-top: var(--navoffset) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
    text-align: center;

    @include md{
        text-align: left;
    }

    @include lg{
        padding: 0 155px;
    }

    .ty-img{
        // background-color: blue;
        overflow: hidden;
        display: flex;
        align-items: center;

        img{
            // background-color: green;
            width: 100%;
        }

        @include md{
            padding: 0 100px;
            height: 800px;

        }
    }

    .ty-content{
        width: 100%;
        max-width: 1440px;
        display: grid;
        grid-template-columns: auto;
        gap: 8px;
        margin-bottom: 32px;
        
        a{
            justify-self: center;
            text-align: center;
            margin-top: 16px;
        }

        @include md{
            grid-template-columns: 3fr 1fr;
            align-items: center;
            margin-bottom: 125px;
            gap: 0;

            a, p:first-of-type{
                justify-self: end;
                text-align: right;
            }

            a{
                margin-top: 0;
            }
        }
    }
}
