/* =============
    Nav (previously header)
============= */

.show-menu{
    display: flex !important;
}

#nav{
    // Placement ------------
    position: fixed;
    height: 56px;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    z-index: 10000000000;

    // Style ----------------
    padding: 0 16px;
    background-color: var(--White);
    border-bottom: 1px solid var(--Grey);
    box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.15);
    
    // Children layout ------
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: auto 0px;
    grid-template-areas: 
    "logo burger"
    "nav nav";

    #nav-logo{
        grid-area: logo;
        display: flex;
        align-items: center;
    }

    #burger-container{
        grid-area: burger;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #main-menu{
        height: calc(100vh - 56px);
        grid-area: nav;
        display: none;
        justify-content: flex-end;
        background-color: rgba(20, 17, 15, 0.45);
        margin: 0px -16px;

        .nav-buttons{
            // Styling -----------------
            width: 65%;
            height: 100%;
            padding: 45px 0 112px 0;
            box-sizing: border-box;
            background-color: var(--Ice);

            // Child Alignment ---------
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-between;
            align-items: center;

            
            div{
                // Styling -------------
                width: 100%;
                padding: 0 56px 0 0;
                box-sizing: border-box;
            
                // Child Alignment -----
                display: flex;
                flex-direction: column;
                text-align: right;
                
                a{
                        padding: 0px;
                        margin-top: 24px;
                        color: var(--Charcoal);

                    }
            }
        }

    }


    // DESKTOP NAV -------------------------
    @include lg{
        height: 76px;
        padding: 0px 16px;
        display: flex;

        #burger-btn{
            display: none;
        }


        #main-menu{
            background-color: transparent;
            height: auto;
            margin: 0px;
            width: 100%;
            display: flex;

            .nav-buttons{
                // Styling -----------------
                width: 100%;
                height: auto;
                padding: 0;
                margin-left: 68px;
                background-color: transparent;


                

            // Child Alignment ---------
                display: flex;
                flex-direction: row;
                justify-content: space-between;

            
                div{
                    // Styling -------------
                    width: 100%;
                    padding: 0;
                
                    // Child Alignment -----
                    display: flex;
                    flex-direction: row;
                    text-align: auto;
                    
                
                    a{
                            padding: 0px;
                            margin: 0 68px 0 0;
                    }       
                }
            }
        }
    }

    // FOR DESKTOP
    // display: flex;
    // align-items: center;
    // padding: 16px;
    // color: var(--Charcoal);

    // .nav-buttons{
    //     a{
    //         margin-left: 68px;
    //         padding: 0;
    //         color: var(--Charcoal);
    //     }
    // }

    // aside{
    //     margin-left: auto;

    // }
}
