/* =============
    Buttons
============= */
a{
    padding: 10px 48px;
    white-space: nowrap;
}

button{
    background-color: transparent;
    border: 0;
    padding: 0;
    white-space: nowrap;

}

.teal-button, .teal-button:link, .teal-button:visited{
    color: var(--Ice);
    background-color: var(--TealDark);
    padding: 10px 48px;
    white-space: nowrap;

    &:hover, &:active{
        opacity: 50%;
    }
}

.yellow-button:link, .yellow-button:visited{
    color: var(--Charcoal);
    background-color: var(--Yellow);
    padding: 10px 48px;
    white-space: nowrap;

    &:hover, &:active{
        opacity: 70%;
    }
}

.text-button, .text-button:link, .text-button:visited{
    color: var(--TealDark);
    background-color: transparent;

    &:hover, &:active{
        text-decoration: underline;
    }
}

.outline-button, .outline-button:link, .outline-button:visited{
    color: var(--Charcoal);
    background-color: transparent;
    border: 2px solid var(--TealDark);
    padding: 10px 48px;
    white-space: nowrap;

    &:hover, &:active{
        background-color: var(--TealLight);
    }
}


// Unused ------

// .greytext-button{

// }

// .mobileArrow-button{

// }