#payment {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin-top: calc(var(--navoffset) + 8px);
    min-height: 900px;

    @include lg {
        position: relative;
        margin-top: var(--navoffset);
        width: 50%;
        height: auto;
        min-height: 824px;
        padding: 0;
        margin-left: 90px;
    }


    form {
        padding: 0px;
        border: 1px solid var(--Black);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;

        h2 {
            margin-top: 8px;
        }

        .input-fields {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: auto auto auto;
            column-gap: 24px;
            row-gap: 16px;

            border-top: 1px solid var(--GreyLine);
            padding-top: 24px;
            grid-template-areas:
                "name1 name1 name1 name1 name1 name1"
                "name2 name2 name2 name3 name3 name3"
                "name4 name4 name4 name4 name4 name4";

            .form-item1 {
                grid-area: name1;
            }

            .form-item2 {
                grid-area: name2;
            }

            .form-item3 {
                grid-area: name3;
            }

            .form-item4 {
                grid-area: name4;
            }

            input {
                width: 100%;
                height: 56px;
                margin-top: 4px;
                padding-left: 16px;
                box-sizing: border-box;
    
                border: 1px solid var(--GreyLine);
    
            }
        }

        

        /*--------------
        Radio buttons
        --------------*/


        .radio-button{
            display: flex;
            flex-direction: column;

            .credit-card-section{
                display: grid;

                padding: 44px 32px;

                row-gap: 44px;

                grid-template-areas: 
                "label date"
                "inputs inputs";
    


                label[for=Credit-card]{
                        grid-area: label;
                    }
        
                #credit-card-info{
                    grid-area: date;
                    display: flex;
                    justify-self: end;
    
                }

                .input-fields{
                    grid-area: inputs;
                }
        
            }

            .other-payment-section{
                padding: 44px 32px;
                background-color: var(--Tan);
                border-top: 1px solid var(--GreyLine);

                display: grid;
                grid-template-areas: 
                "label date"
                "description description";


                label[for=paypal]{
                        grid-area: label;
                    }
        
                #paypal-logo{
                    grid-area: date;
                    display: flex;
                    justify-self: end;
    
                }

                p{
                    grid-area: description;
                    margin: 4px 0 0 18px;
                }
            }
        }
    }


    // Styling for radio buttons
        label{
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0;

            input{
                -webkit-appearance: none;
                appearance: none;
                background-color: transparent;
                margin: 0 16px 0 0;
                color: var(--Black);
                width: 1.15em;
                height: 1.15em;
                border: 2px solid var(--Black);
                border-radius: 50%;

                display: grid;
                place-content: center;
            }

            input::before {
                content: "";
                width: 0.65em;
                height: 0.65em;
                border-radius: 50%;
                transform: scale(0);
                transition: 120ms transform ease-in-out;
                box-shadow: inset 1em 1em var(--TealLight);
            }
            
            input:checked::before {
                transform: scale(1);
            }

            input:checked {
                border-color: var(--TealDark);
            }
        }

    // Bottom button "complete purchase"    
    .teal-button {
        margin-top: auto;
        width: auto;

        display: flex;
        justify-content: center;
    }
}